:root {
  --black: #272727;
  --black-hover: #363636;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic';
  background-image: url('intersection.png');
}

body {
  margin: 0;
}

.appContainerGrid {
  display: grid;
  height: 99vh;
  width: 100vw;
  grid-template-rows: 1fr 6fr 1fr;
}
/* ************** Common ************** */

button {
  cursor: pointer;
  background-color: var(--black);
  color: #ffffff;
  font-size: medium;
  border-color: var(--black);
  box-shadow: var(--black);
}

button:hover {
  background-color: var(--black-hover);
}

img {
  border-radius: 50%;
}

textarea {
  border: none;
  box-shadow: 0px 0px 14px 1px var(--black);
}

textarea:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #024188;
}

input {
  padding-bottom: 1vh;
  border: 0;
  border-bottom: 1px solid var(--black);
  font-size: 20px;
  outline: 0;
  background: transparent;
  box-shadow: var(--black);
  text-align: center;
}

input:focus {
  border-bottom: 3px solid #024188;
}

/* ************** NavBar ************** */
.navbar {
  grid-row: 1;
  align-self: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  border-radius: 0;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-color: var(--black);
  color: #ffffff;
}

.signInNavBarButtonContainer,
.loggedInNavBarButtonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signInNavBarButton {
  width: 7vw;
  height: 12vh;
  border-color: #ffffff;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  text-align: center;
  font-size: larger;
}

.loggedInNavBarButton {
  width: 9vw;
  height: 12vh;
  border-color: #ffffff;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 0;
  text-align: center;
  font-size: larger;
}


.signInNavBarButton:hover,
.loggedInNavBarButton:hover {
  background-color: var(--black-hover);
}

.navContent {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.navContent h1{
  margin-left: .3vw;
  text-shadow: 2px 2px black;
  letter-spacing: 2px;
}

link {
  text-decoration: none;
}

.navh1,
.navh3 {
  margin-top: 1vh;
  margin-left: 1vh;
  margin-bottom: 0vh;
}

/* ************** Footer ************** */

.footer {
  position: fixed;
  left:0px;
  bottom:0px;
  width: 100vw;
  grid-row: 3;
  height: 5vh;
  align-content: center;
  text-align: center;
  font-size: 10px;
}

/* ************** Home ************** */

.homeContainerGrid {
  grid-row: 1fr;
  display: grid;
  grid-template-columns: 1fr;
}

/* ************** ClientList ************** */

.clientListViewContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-self: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.clientListHeader {
  text-align: center;
}

.clientListGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#clientListButton {
  margin: 2vh;
  height: 3vh;
  width: 10vw;
}

/* ************** MassAlert ************** */

.massAlertForm {
  display: flex;
  margin: 1vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#massAlertMessage {
  height: 40vh;
  width: 50vw;
}

.massAlertButton {
  margin: 4vh;
  height: 8vh;
  width: 18vw;
}

.massAlertButtonContainer {
  display: flex;
  flex-direction: row;
}


/* ************** AuthForm ************** */
.authFormContainer {
  grid-row-start: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.authForm {
  background-color: #272727a1;
  box-shadow: 0px 0px 10px 5px var(--black)
}

.authFormLabel {
  font-size: x-large;
  margin-bottom: 3vh;
  font-weight: bold;
  letter-spacing: 2px;
}

.authFormInput {
  margin: 4vw;
}

.authFormButton {
  margin: 4vh;
  width: 12vw;
  height: 3vw;
}

.authFormButton:hover {
  background-color: var(--black-hover);
}

/* ************** IndividualClient ************** */

.individualClientContainer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 1fr;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

#individualUserMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#individualUserSendMessageButton {
  width: 10vw;
  height: 5vh;
  margin-top: 3vh;
}

#individualUserMessageTextArea {
  height: 50vh;
  width: 30vw;
}

/* ************ IndividualClient => UpdateClient ************ */

.updateClientContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

#clientUpdateForm {
  grid-column-start: 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  border-radius: 25px;
  border-style: double;
}

.clientUpdateInputs {
  margin-bottom: 2vh;
  margin-top: 2vh;
  height: 5vh;
  width: 45vh;
  align-self: center;
  border-radius: 25px;
  text-align: center;
}

.clientUpdateButton {
  height: 5vh;
  width: 17vw;
  align-self: center;
}

/* ************ NewClient ************ */

.newClientContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
}

.newClientForm {
  grid-column-start: 2;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.newClientInputs {
  margin-bottom: 2vh;
  margin-top: 2vh;
  height: 5vh;
  width: 45vh;
  align-self: center;
}

.newClientButton {
  height: 5vh;
  width: 17vw;
  align-self: center;
  margin-top: 3vh;
}

